In [1]:
import selenium
from selenium import  webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import WebDriverException

In [2]:
PATH= "C:\chromedriver.exe"
driver = webdriver.Chrome(PATH)
driver.get('https://www.google.com/travel/flights')

#### By class name

##### Banglore to Delhi

In [3]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

292

In [4]:
Depart = []

dep = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dep:
    d = i.text
    Depart.append(d)
len(Depart)

292

In [5]:
Arrival = []

arriv = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arriv:
    arr = i.text
    Arrival.append(arr)
len(Arrival)

292

In [6]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
len(Source)

292

In [7]:
Destination = []

dest = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in dest:
    des = i.text
    Destination.append(des)
len(Destination)

292

In [8]:
Duration = []

dur = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in dur:
    dur = i.text
    Duration.append(dur)
len(Duration)

292

In [9]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
len(Total_stops)

292

In [10]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
len(Price)

292

In [13]:
Date = []

date = driver.find_elements_by_xpath('//div[@class="ZmKdL MZvrH QB2Jof"]')
for i in date:
    dt = i.text
    Date.append(dt)
len(Date)

1

In [14]:
import pandas as pd

FLIGHT = pd.DataFrame({})
FLIGHT['Airline'] = Air
FLIGHT['Source'] = Source
FLIGHT['Destination'] = Destination
FLIGHT['Departure'] = Depart
FLIGHT['Arrival'] = Arrival
FLIGHT['Duration'] = Duration
FLIGHT['Total_stops'] = Total_stops
FLIGHT['Price'] = Price

FLIGHT

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,SpiceJet,BLR,DEL,9:50 PM,12:35 AM+1,2 hr 45 min,Nonstop,"7,089"
1,GO FIRST,BLR,DEL,9:00 PM,11:45 PM,2 hr 45 min,Nonstop,"7,332"
2,Air India,BLR,DEL,10:00 AM,12:50 PM,2 hr 50 min,Nonstop,"7,685"
3,GO FIRST,BLR,DEL,5:45 AM,8:25 AM,2 hr 40 min,Nonstop,"7,332"
4,GO FIRST,BLR,DEL,5:30 AM,2:30 PM,9 hr,1 stop,"7,333"
...,...,...,...,...,...,...,...,...
287,Gulf Air,BLR,DEL,4:45 AM,3:05 AM+1,22 hr 20 min,1 stop,"54,552"
288,Emirates,BLR,DEL,8:50 PM,9:05 AM+1,12 hr 15 min,1 stop,"54,762"
289,Etihad,BLR,DEL,4:40 AM,7:30 PM,14 hr 50 min,1 stop,"58,515"
290,Etihad,BLR,DEL,4:40 AM,3:15 AM+1,22 hr 35 min,1 stop,"58,515"
291,Emirates,BLR,DEL,4:30 AM,2:45 PM,10 hr 15 min,1 stop,"90,325"

In [15]:
FLIGHT.to_csv('BD.csv')

##### Mumbai to Kolkata

In [16]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

214

In [17]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

214

In [18]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

214

In [20]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

214

In [21]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

214

In [22]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

214

In [24]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

214

In [25]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

214

In [26]:
Date = []

date = driver.find_elements_by_xpath('//div[@class="ZmKdL MZvrH QB2Jof"]')
for i in date:
    dt = i.text
    Date.append(dt)
len(Date),Date

(1, ['Aug 28'])

In [27]:
import pandas as pd

MK = pd.DataFrame({})
MK['Airline'] = Air
MK['Source'] = Source
MK['Destination'] = Destination
MK['Departure'] = Departure
MK['Arrival'] = Arrival
MK['Duration'] = Duration
MK['Total_stops'] = Total_stops
MK['Price'] = Price

MK

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,Vistara,BOM,CCU,5:20 PM,7:55 PM,2 hr 35 min,Nonstop,"7,234"
1,IndiGo,BOM,CCU,9:50 AM,12:25 PM,2 hr 35 min,Nonstop,"7,373"
2,Air India,BOM,CCU,6:00 AM,8:50 AM,2 hr 50 min,Nonstop,"7,414"
3,AirAsia (India),BOM,CCU,12:25 PM,2:05 AM+1,13 hr 40 min,2 stops,"6,873"
4,Vistara,BOM,CCU,7:00 AM,9:40 AM,2 hr 40 min,Nonstop,"7,234"
...,...,...,...,...,...,...,...,...
209,Qatar Airways,BOM,CCU,4:25 AM,2:20 AM+1,21 hr 55 min,1 stop,"92,196"
210,"Singapore Airlines, Biman",BOM,CCU,1:00 AM,7:45 PM,18 hr 45 min,2 stops,"98,109"
211,"Etihad, Biman",BOM,CCU,4:35 AM,7:45 PM,15 hr 10 min,2 stops,"133,259"
212,"Air Arabia, Etihad, Biman",BOM,CCU,6:35 AM,7:45 PM,13 hr 10 min,2 stops,"197,540"
213,"Singapore Airlines, Biman",BOM,CCU,1:00 AM,7:45 PM,18 hr 45 min,2 stops,"229,238"

In [28]:
MK.to_csv('mk.csv')

##### Delhi to Goa

In [31]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

241

In [32]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

241

In [33]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

241

In [34]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

241

In [35]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

241

In [36]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

241

In [37]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

241

In [38]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

241

In [39]:
DG = pd.DataFrame({})
DG['Airline'] = Air
DG['Source'] = Source
DG['Destination'] = Destination
DG['Departure'] = Departure
DG['Arrival'] = Arrival
DG['Duration'] = Duration
DG['Total_stops'] = Total_stops
DG['Price'] = Price

DG

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,AirAsia (India),DEL,GOI,9:35 AM,2:45 PM,5 hr 10 min,1 stop,"6,566"
1,Vistara,DEL,GOI,11:10 AM,1:50 PM,2 hr 40 min,Nonstop,"7,246"
2,Air India,DEL,GOI,10:45 AM,1:35 PM,2 hr 50 min,Nonstop,"7,426"
3,GO FIRST,DEL,GOI,5:50 AM,4:55 PM,11 hr 5 min,1 stop,"6,542"
4,GO FIRST,DEL,GOI,6:50 AM,4:45 PM,9 hr 55 min,1 stop,"6,542"
...,...,...,...,...,...,...,...,...
236,Air India,DEL,GOI,8:35 PM,3:50 AM+2,31 hr 15 min,1 stop,"29,418"
237,"IndiGo, Qatar Airways",DEL,GOI,10:00 PM,2:30 AM+2,28 hr 30 min,1 stop,"61,447"
238,"IndiGo, Qatar Airways",DEL,GOI,4:10 AM,2:30 AM+1,22 hr 20 min,1 stop,"66,046"
239,Qatar Airways,DEL,GOI,3:25 AM,2:30 AM+1,23 hr 5 min,1 stop,"77,733"
240,Qatar Airways,DEL,GOI,10:35 AM,2:30 AM+1,15 hr 55 min,1 stop,"77,733"

In [40]:
DG.to_csv('dg.csv')

### Pune to Banglore

In [43]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

200

In [44]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

200

In [45]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

200

In [46]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

200

In [47]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

200

In [48]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

200

In [49]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

200

In [50]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

200

In [51]:
PB = pd.DataFrame({})
PB['Airline'] = Air
PB['Source'] = Source
PB['Destination'] = Destination
PB['Departure'] = Departure
PB['Arrival'] = Arrival
PB['Duration'] = Duration
PB['Total_stops'] = Total_stops
PB['Price'] = Price

PB

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,GO FIRST,PNQ,BLR,5:30 PM,7:05 PM,1 hr 35 min,Nonstop,"5,377"
1,IndiGo,PNQ,BLR,1:00 PM,2:25 PM,1 hr 25 min,Nonstop,"5,378"
2,Vistara,PNQ,BLR,6:55 AM,8:30 AM,1 hr 35 min,Nonstop,"5,764"
3,SpiceJet,PNQ,BLR,3:15 PM,4:50 PM,1 hr 35 min,Nonstop,"5,792"
4,GO FIRST,PNQ,BLR,1:30 AM,3:55 AM,2 hr 25 min,Nonstop,"5,377"
...,...,...,...,...,...,...,...,...
195,Vistara,PNQ,BLR,5:30 AM,4:20 PM,10 hr 50 min,2 stops,"22,086"
196,Vistara,PNQ,BLR,8:35 PM,4:20 PM+1,19 hr 45 min,2 stops,"22,086"
197,"Air India, SriLankan",PNQ,BLR,7:30 AM,2:30 AM+1,19 hr,2 stops,"50,040"
198,"Air India, SriLankan",PNQ,BLR,3:55 PM,8:10 PM+1,28 hr 15 min,2 stops,"50,040"
199,"Air India, SriLankan",PNQ,BLR,6:50 PM,8:10 PM+1,25 hr 20 min,2 stops,"50,040"

In [52]:
PB.to_csv('pb.csv')

### Chandigarh to Mumbai

In [53]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

163

In [54]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

163

In [55]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

163

In [56]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

163

In [57]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

163

In [58]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

163

In [59]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

163

In [60]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

163

In [61]:
CM = pd.DataFrame({})
CM['Airline'] = Air
CM['Source'] = Source
CM['Destination'] = Destination
CM['Departure'] = Departure
CM['Arrival'] = Arrival
CM['Duration'] = Duration
CM['Total_stops'] = Total_stops
CM['Price'] = Price

CM

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,GO FIRST,IXC,BOM,7:50 AM,10:20 AM,2 hr 30 min,Nonstop,"6,616"
1,Vistara,IXC,BOM,8:50 AM,11:15 AM,2 hr 25 min,Nonstop,"7,160"
2,Vistara,IXC,BOM,7:55 PM,10:20 PM,2 hr 25 min,Nonstop,"7,160"
3,Vistara,IXC,BOM,3:25 PM,8:05 PM,4 hr 40 min,1 stop,"7,616"
4,Vistara,IXC,BOM,3:25 PM,9:15 PM,5 hr 50 min,1 stop,"7,616"
...,...,...,...,...,...,...,...,...
158,IndiGo,IXC,BOM,7:40 PM,7:05 AM+1,11 hr 25 min,1 stop,"19,480"
159,IndiGo,IXC,BOM,7:40 PM,8:45 AM+1,13 hr 5 min,1 stop,"19,480"
160,Vistara,IXC,BOM,3:00 PM,7:55 AM+1,16 hr 55 min,2 stops,"19,703"
161,Vistara,IXC,BOM,3:10 PM,7:55 AM+1,16 hr 45 min,2 stops,"23,026"
162,Vistara,IXC,BOM,3:10 PM,7:55 AM+1,16 hr 45 min,2 stops,"23,026"

In [62]:
CM.to_csv('cm.csv')

### Goa to Jaipur

In [63]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

112

In [64]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

112

In [65]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

112

In [66]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

112

In [67]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

112

In [68]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

112

In [69]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

112

In [70]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

112

In [71]:
GJ = pd.DataFrame({})
GJ['Airline'] = Air
GJ['Source'] = Source
GJ['Destination'] = Destination
GJ['Departure'] = Departure
GJ['Arrival'] = Arrival
GJ['Duration'] = Duration
GJ['Total_stops'] = Total_stops
GJ['Price'] = Price

GJ

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,IndiGo,GOI,JAI,3:25 AM,5:30 AM,2 hr 5 min,Nonstop,"4,052"
1,SpiceJet,GOI,JAI,7:05 PM,11:00 PM,3 hr 55 min,1 stop,"7,323"
2,AirAsia (India),GOI,JAI,5:35 AM,9:50 AM,4 hr 15 min,1 stop,"8,355"
3,IndiGo,GOI,JAI,2:45 PM,7:25 PM,4 hr 40 min,1 stop,"8,939"
4,GO FIRST,GOI,JAI,6:40 AM,9:05 PM,14 hr 25 min,1 stop,"8,280"
...,...,...,...,...,...,...,...,...
107,"Air India, SriLankan",GOI,JAI,11:10 PM,12:55 PM+2,37 hr 45 min,3 stops,"38,906"
108,"Air India, SriLankan",GOI,JAI,11:10 PM,12:55 PM+2,37 hr 45 min,3 stops,"38,906"
109,"Air India, SriLankan",GOI,JAI,6:50 AM,12:55 PM+1,30 hr 5 min,3 stops,"41,652"
110,"Air India, SriLankan",GOI,JAI,3:15 PM,12:55 PM+1,21 hr 40 min,3 stops,"41,652"
111,"Air India, SriLankan",GOI,JAI,2:15 PM,1:25 PM+1,23 hr 10 min,3 stops,"86,860"

In [72]:
GJ.to_csv('gj.csv')

### Delhi to Ahmedabad

In [73]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

117

In [74]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

117

In [75]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

117

In [76]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

117

In [77]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

117

In [78]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

117

In [79]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

117

In [80]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

117

In [81]:
DA = pd.DataFrame({})
DA['Airline'] = Air
DA['Source'] = Source
DA['Destination'] = Destination
DA['Departure'] = Departure
DA['Arrival'] = Arrival
DA['Duration'] = Duration
DA['Total_stops'] = Total_stops
DA['Price'] = Price

DA

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,SpiceJet,DEL,AMD,5:55 AM,7:40 AM,1 hr 45 min,Nonstop,"5,068"
1,GO FIRST,DEL,AMD,3:30 PM,5:05 PM,1 hr 35 min,Nonstop,"5,073"
2,IndiGo,DEL,AMD,1:30 PM,3:10 PM,1 hr 40 min,Nonstop,"5,074"
3,SpiceJet,DEL,AMD,8:10 PM,9:50 PM,1 hr 40 min,Nonstop,"5,068"
4,GO FIRST,DEL,AMD,6:00 AM,7:30 AM,1 hr 30 min,Nonstop,"5,073"
...,...,...,...,...,...,...,...,...
112,"flydubai, Emirates",DEL,AMD,10:00 AM,2:55 AM+1,16 hr 55 min,1 stop,"49,942"
113,Etihad,DEL,AMD,4:35 AM,3:55 AM+1,23 hr 20 min,1 stop,"77,824"
114,Etihad,DEL,AMD,8:50 PM,3:55 AM+2,31 hr 5 min,1 stop,"79,110"
115,Qatar Airways,DEL,AMD,3:40 AM,2:05 AM+1,22 hr 25 min,1 stop,"89,383"
116,Qatar Airways,DEL,AMD,10:00 AM,2:05 AM+1,16 hr 5 min,1 stop,"89,383"

In [82]:
DA.to_csv('da.csv')

### Lucknow to Chennai

In [83]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

198

In [84]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

198

In [85]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

198

In [86]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

198

In [87]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

198

In [88]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

198

In [89]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

198

In [90]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

198

In [91]:
LC = pd.DataFrame({})
LC['Airline'] = Air
LC['Source'] = Source
LC['Destination'] = Destination
LC['Departure'] = Departure
LC['Arrival'] = Arrival
LC['Duration'] = Duration
LC['Total_stops'] = Total_stops
LC['Price'] = Price

LC

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,IndiGo,LKO,MAA,5:25 PM,8:00 PM,2 hr 35 min,Nonstop,"4,190"
1,Vistara,LKO,MAA,5:50 PM,10:45 PM,4 hr 55 min,1 stop,"7,285"
2,Vistara,LKO,MAA,3:25 PM,8:15 PM,4 hr 50 min,1 stop,"8,082"
3,Vistara,LKO,MAA,3:25 PM,10:10 AM+1,18 hr 45 min,1 stop,"7,421"
4,Vistara,LKO,MAA,5:50 PM,10:10 AM+1,16 hr 20 min,1 stop,"7,421"
...,...,...,...,...,...,...,...,...
193,"Air India, Gulf Air",LKO,MAA,8:15 PM,8:40 PM+1,24 hr 25 min,2 stops,"59,603"
194,"Air India, Gulf Air",LKO,MAA,8:15 PM,8:40 PM+1,24 hr 25 min,2 stops,"59,603"
195,"Air India, Gulf Air",LKO,MAA,8:15 PM,3:20 AM+2,31 hr 5 min,2 stops,"59,603"
196,"Air India, Gulf Air",LKO,MAA,8:15 PM,3:20 AM+2,31 hr 5 min,2 stops,"59,603"
197,"Air India, SriLankan",LKO,MAA,2:05 PM,7:25 AM+1,17 hr 20 min,3 stops,"78,535"

In [92]:
LC.to_csv('lc.csv')

### Mumbai to Delhi

In [93]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

254

In [94]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

254

In [95]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

254

In [96]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

254

In [97]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

254

In [98]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

254

In [99]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

254

In [100]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

254

In [101]:
MD = pd.DataFrame({})
MD['Airline'] = Air
MD['Source'] = Source
MD['Destination'] = Destination
MD['Departure'] = Departure
MD['Arrival'] = Arrival
MD['Duration'] = Duration
MD['Total_stops'] = Total_stops
MD['Price'] = Price

MD

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,GO FIRST,BOM,DEL,9:55 AM,12:10 PM,2 hr 15 min,Nonstop,"5,897"
1,IndiGo,BOM,DEL,2:40 AM,4:45 AM,2 hr 5 min,Nonstop,"5,903"
2,Air India,BOM,DEL,9:00 AM,11:20 AM,2 hr 20 min,Nonstop,"5,944"
3,Vistara,BOM,DEL,6:30 AM,8:35 AM,2 hr 5 min,Nonstop,"6,079"
4,SpiceJet,BOM,DEL,10:15 AM,12:30 PM,2 hr 15 min,Nonstop,"6,317"
...,...,...,...,...,...,...,...,...
249,Vistara,BOM,DEL,9:30 PM,12:40 AM+2,27 hr 10 min,2 stops,"17,366"
250,Air India,BOM,DEL,1:25 PM,3:55 AM+1,14 hr 30 min,1 stop,"18,228"
251,Air India,BOM,DEL,9:00 PM,3:55 AM+1,6 hr 55 min,1 stop,"18,228"
252,Air India,BOM,DEL,9:00 PM,4:45 PM+1,19 hr 45 min,1 stop,"18,228"
253,Air India,BOM,DEL,9:05 PM,12:05 AM+2,27 hr,2 stops,"20,014"

In [102]:
MD.to_csv('md.csv')

### Hyderabad to Pune

In [112]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

194

In [113]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

194

In [114]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

194

In [115]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

194

In [116]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

194

In [117]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

194

In [118]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

194

In [119]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

194

In [120]:
HP= pd.DataFrame({})
HP['Airline'] = Air
HP['Source'] = Source
HP['Destination'] = Destination
HP['Departure'] = Departure
HP['Arrival'] = Arrival
HP['Duration'] = Duration
HP['Total_stops'] = Total_stops
HP['Price'] = Price

HP

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,IndiGo,HYD,PNQ,4:35 AM,5:45 AM,1 hr 10 min,Nonstop,"5,807"
1,IndiGo,HYD,PNQ,4:20 PM,5:30 PM,1 hr 10 min,Nonstop,"5,807"
2,IndiGo,HYD,PNQ,10:25 PM,11:35 PM,1 hr 10 min,Nonstop,"5,807"
3,SpiceJet,HYD,PNQ,8:00 PM,9:15 PM,1 hr 15 min,Nonstop,"5,906"
4,IndiGo,HYD,PNQ,2:45 PM,12:45 AM+1,10 hr,1 stop,"6,910"
...,...,...,...,...,...,...,...,...
189,"Gulf Air, Air India",HYD,PNQ,5:50 AM,7:00 AM+1,25 hr 10 min,2 stops,"58,775"
190,"Gulf Air, Air India",HYD,PNQ,5:50 AM,6:10 PM+1,36 hr 20 min,2 stops,"58,775"
191,"Gulf Air, Air India",HYD,PNQ,5:50 AM,6:10 PM+1,36 hr 20 min,2 stops,"58,775"
192,"Gulf Air, Air India",HYD,PNQ,5:50 AM,6:10 PM+1,36 hr 20 min,2 stops,"58,775"
193,"SriLankan, Air India",HYD,PNQ,4:30 AM,6:10 PM+1,37 hr 40 min,2 stops,"59,737"

In [121]:
HP.to_csv('hp.csv')

### Nagpur to Mumbai

In [122]:
Air = []

arr = driver.find_elements_by_xpath('//div[@class="TQqf0e sSHqwe tPgKwe ogfYpf"]/span')
for i in arr:
    a = i.text
    Air.append(a)
    
len(Air)

116

In [123]:
Departure = []

dept = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[1]')
for i in dept:
    d = i.text
    Departure.append(d)
    
len(Departure)

116

In [124]:
Arrival = []

arrvl = driver.find_elements_by_xpath('//span[@class="mv1WYe"]/span[2]')
for i in arrvl:
    arr = i.text
    Arrival.append(arr)
    
len(Arrival)

116

In [125]:
Source = []

source = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[1]')
for i in source:
    s = i.text
    Source.append(s)
    
len(Source)

116

In [126]:
Destination = []

destin = driver.find_elements_by_xpath('//span[@class="z0fuv sSHqwe tPgKwe ogfYpf"]/span[2]')
for i in destin:
    dest = i.text
    Destination.append(dest)
    
len(Destination)

116

In [127]:
Duration = []

duration = driver.find_elements_by_xpath('//div[@class="gvkrdb AdWm1c tPgKwe ogfYpf"]')
for i in duration:
    dur = i.text
    Duration.append(dur)
    
len(Duration)

116

In [128]:
Total_stops = []

stops = driver.find_elements_by_xpath('//span[@class="pIgMWd ogfYpf"]')
for i in stops:
    stp = i.text
    Total_stops.append(stp)
    
len(Total_stops)

116

In [129]:
Price = []

price = driver.find_elements_by_xpath('//div[@class="BVAVmf I11szd POX3ye"]/div[2]/span')
for i in price:
    p = i.text.strip('₹')
    Price.append(p)
    
len(Price)

116

In [130]:
NM= pd.DataFrame({})
NM['Airline'] = Air
NM['Source'] = Source
NM['Destination'] = Destination
NM['Departure'] = Departure
NM['Arrival'] = Arrival
NM['Duration'] = Duration
NM['Total_stops'] = Total_stops
NM['Price'] = Price

NM

,Airline,Source,Destination,Departure,Arrival,Duration,Total_stops,Price
0,IndiGo,NAG,BOM,11:45 AM,1:15 PM,1 hr 30 min,Nonstop,"4,526"
1,IndiGo,NAG,BOM,3:30 PM,4:55 PM,1 hr 25 min,Nonstop,"4,526"
2,GO FIRST,NAG,BOM,8:00 AM,9:35 AM,1 hr 35 min,Nonstop,"4,527"
3,IndiGo,NAG,BOM,6:00 AM,7:25 AM,1 hr 25 min,Nonstop,"4,526"
4,IndiGo,NAG,BOM,11:10 PM,12:40 AM+1,1 hr 30 min,Nonstop,"4,526"
...,...,...,...,...,...,...,...,...
111,"Air India, Gulf Air",NAG,BOM,7:40 AM,4:55 AM+2,45 hr 15 min,2 stops,"55,655"
112,"Air India, Gulf Air",NAG,BOM,7:40 AM,4:55 AM+2,45 hr 15 min,2 stops,"55,655"
113,"Qatar Airways, IndiGo",NAG,BOM,5:05 AM,2:10 PM,9 hr 5 min,1 stop,"68,409"
114,"Qatar Airways, IndiGo",NAG,BOM,5:05 AM,2:55 AM+1,21 hr 50 min,1 stop,"68,409"
115,Qatar Airways,NAG,BOM,5:05 AM,2:45 AM+1,21 hr 40 min,1 stop,"73,575"

In [131]:
NM.to_csv('nm.csv')

###